/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.fotoCircular {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

#miFoto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos */
header h1 {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

/* Estilos para los enlaces de correo electrónico */
footer a[href^="mailto"] {
    color: #ff9900;
}

/* Estilos para los enlaces de teléfono */
footer a[href^="https://wa.me"] {
    color: #ff9900;
}

/* Media query para pantallas pequeñas (dispositivos móviles) */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .fotoCircular, #miFoto {
        float: none;
        margin-right: 0;
    }
}
